{{#isQueryParam}}@ApiParam(value = "{{{description}}}"{{#required}},required=true{{/required}}{{#allowableValues}}, allowableValues="{{{allowableValues}}}"{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}}) @QueryParam("{{baseName}}") {{#vendorExtensions.x-encoded}}@Encoded{{/vendorExtensions.x-encoded}} {{{dataType}}} {{paramName}}{{/isQueryParam}}